<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Rumbl!</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <section class="container">
          <nav role="navigation">
            <ul>
              <%= if @current_user do %>
                <li><%= @current_user.username %></li>
                <li>
                  <%= link "Log out",
                  to: session_path(@conn, :delete, @current_user),
                  method: "delete" %>
                </li>
              <% else %>
                <li><%= link "Register", to: user_path(@conn, :new) %></li>
                <li><%= link "Log in", to: session_path(@conn, :new) %></li>
              <% end %>
            </ul>
          </nav>
          <a href="http://phoenixframework.org/" class="phx-logo">
           <img src="<%= static_url(@conn, "/images/phoenix.png") %>"
            alt="Phoenix Framework Logo"/>
          </a>
        </section>
      </header>

      <main role="main" class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
